In [22]:
import pandas as pd 
import numpy as np
df = pd.read_csv("JEOPARDY_CSV.csv")
df

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,12/31/2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams
...,...,...,...,...,...,...,...
216925,4999,5/11/2006,Double Jeopardy!,RIDDLE ME THIS,"$2,000",This Puccini opera turns on the solution to 3 ...,Turandot
216926,4999,5/11/2006,Double Jeopardy!,"""T"" BIRDS","$2,000",In North America this term is properly applied...,a titmouse
216927,4999,5/11/2006,Double Jeopardy!,AUTHORS IN THEIR YOUTH,"$2,000","In Penny Lane, where this ""Hellraiser"" grew up...",Clive Barker
216928,4999,5/11/2006,Double Jeopardy!,QUOTATIONS,"$2,000","From Ft. Sill, Okla. he made the plea, Arizona...",Geronimo
216929,4999,5/11/2006,Final Jeopardy!,HISTORIC NAMES,None,A silent movie title includes the last name of...,Grigori Alexandrovich Potemkin

a. How many rows are there in the dataframe? What does a row represent?

There are 216930 rows and a row represents a jeopardy question , answer , show number,category, 
value and other relevant information.

In [2]:
df.describe()

         Show Number
count  216930.000000
mean     4264.238519
std      1386.296335
min         1.000000
25%      3349.000000
50%      4490.000000
75%      5393.000000
max      6300.000000

In [3]:
df.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [5]:
df.columns = df.columns.str.replace(' ', '')
print(df.columns)

Index(['ShowNumber', 'AirDate', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [25]:
import datetime
import pandas as pd
import numpy as np
import random
df["AirDate"] = pd.to_datetime(df["AirDate"])
df["AirDate"].head()

KeyError: 'AirDate'

How many unique shows were there each year?

In [24]:
#create a column for the year aired
df['Year'] = pd.DatetimeIndex(df['AirDate']).year
df.head()

KeyError: 'AirDate'

In [12]:
df['Year'] = pd.DatetimeIndex(df['AirDate']).year
df.head()
group_names = df.groupby("Year")
group_names["ShowNumber"].nunique()

Year
1984     23
1985     16
1986     25
1987     22
1988     22
1989     36
1990     73
1991     24
1992     32
1993     35
1994     19
1995     19
1996     83
1997    221
1998    223
1999    229
2000    225
2001    203
2002    114
2003    158
2004    220
2005    225
2006    230
2007    231
2008    232
2009    226
2010    231
2011    224
2012     19
Name: ShowNumber, dtype: int64

How many times was each category used?

In [13]:
df["Category"].value_counts()

BEFORE & AFTER                   547
SCIENCE                          519
LITERATURE                       496
AMERICAN HISTORY                 418
POTPOURRI                        401
                                ...
COMIC STRIP CHARACTERS             1
U.S. TRADE                         1
FAMOUS HOTELS                      1
THE OXFORD ENGLISH DICTIONARY      1
BRITISH MILITARY HISTORY           1
Name: Category, Length: 27983, dtype: int64

Which month (over the years) has had the most shows?

In [23]:
monthly_data = df.groupby(["Year", "Month"])
ShowNumber = monthly_data["ShowNumber"].value_counts()

Dict = {
    "ShowNumber" :ShowNumber
}

month_over_years = pd.DataFrame(Dict)

month_over_years

KeyError: 'Year'

Are there any answers that appeared multiple times? Find the questions for the top
three most common answers.

In [14]:
#answers that appeared multiple times
df['Answer'].value_counts()

China                         216
Australia                     215
Japan                         196
Chicago                       194
France                        193
                             ...
Tuvalu                          1
\"White Christmas\"             1
War of the Roses                1
a perpetual motion machine      1
benign (for Benin)              1
Name: Answer, Length: 88236, dtype: int64

In [15]:
some_values = ["China" , "Australia" , "Japan"]
#filt = df["Answer"].isin(some)
df.loc[df['Answer'].isin(some_values)].head(3)

,ShowNumber,AirDate,Round,Category,Value,Question,Answer,Year
404,2825,1996-12-06,Double Jeopardy!,HISTORY,NaN,In February 1904 this country attacked the Rus...,Japan,1996
560,3036,1997-11-10,Jeopardy!,AT THE KENNEDY CENTER,NaN,A 1994 festival honoring this country featured...,Australia,1997
598,4107,2002-06-11,Jeopardy!,REMEMBER THE TIME,NaN,In 1958 this country launched its second 5-yea...,China,2002

In [16]:
#%matplotlib inline

In [10]:
#import pandas as pd
#df["Category"].value_counts().plot(kind = 'bar')

KeyError: 'Category'